*{
    margin: 0;
    font-family: sans-serif;
}

.modal{
    position: absolute;
    background: #0009;
    width: 100vw;
    height: 100vh;
}

.modal__content{
    background: white;
    padding: 30px;
    width: 80%;
    margin: auto;
    margin-top: 50px;
    position: relative;
}

.modal__title{
    margin-top: 10px;
}

.modal__close-button{
    background: #000;
    color: #fff;
    position: absolute;
    top: 0;
    right: 0;
    padding: 4px 12px;
    cursor: pointer;
}