*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    --bg-color: color-mix(in srgb, #f62 70%, #fff);
    --card-color:#fff;
    --card-bg-color:#fff6;
    --darkcolor: #f62;
    --text-color: #444;
    background-color: var(--bg-color);
    display: flex;
}

.card{
    max-width: clamp(160px, 50%, 320px );
    background-color: var(--card-bg-color);
    margin: 50px auto;
    position: relative;
    border-radius: 20px;
}

.card-front, .card-back{
    backface-visibility: hidden;
    transition: transform 1s;
    background-color: var(--card-color);
    border-radius: 20px;
    overflow: hidden;
    padding-bottom: 6px;
}

.card:hover .card-front{
    transform: perspective(1100px) rotateY(180deg);
}

.card:hover .card-back{
    transform: perspective(1100px) rotateY(360deg);
}

.card-front{
    transform: perspective(1100px) rotateY(0deg);
}

.card-back{
    position: absolute;
    top: 0;
    width: 100%;
    height: 100%;
    display: grid;
    padding: 12px;
    transform: perspective(1100px) rotateY(180deg);
}

.card-back > span{
    font-size: 1.4rem;
    margin: 6px 0;
}

.card-worker {
    max-height: 150px;
    overflow: hidden;
    display: block;
}

.card-worker img {
    max-width: 100%;
}

.card-data{
    padding: 12px;
}

.card-data > span{
    font-size: 1.4rem;
    margin: 6px 0;
    display: block;
}

.skill-bar{
    border: 3px solid var(--bg-color);
    margin: 15px;
    padding: 3px ;
    border-radius: 4px;
}

.skill-bar .bar{
    background-color: var(--bg-color);
    padding: 9px;
    color: var(--card-color);
}

.skill-bar:nth-child(2) .bar{
    width: 95%;
}

.skill-bar:nth-child(3) .bar{
    width: 80%;
}

.skill-bar:nth-child(4) .bar{
    width: 75%;
}

.skill-bar:nth-child(5) .bar{
    width: 60%;
}

.skill-bar:last-child .bar{
    width: 50%;
}

.card:nth-child(2) img {
    opacity: .7;
}