body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

*{
    box-sizing: border-box;
}

.crecedor{
    height: 100vh;
}

.box{
    height: 400px;
    view-timeline: --cajita block;
    background-color: #48e;
    padding: 20px;
    animation: llenar-barra both;
    animation-timeline: --cajita;
    animation-timing-function: linear;
    animation-range-start: contain 0%;
    animation-range-end: contain 100%;
}



@keyframes llenar-barra {
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}