/* VARIABLE GLOBAL,SELECCIONA AL ELEMENTO RAIZ */
:root{
    color: #0f0;
}

h1{
    color: #48e;
    margin: 30px;
    font-family: sans-serif;
}

h1:hover{
    color: rgb(0, 0, 0);
    background: #ccc;
}

/* ACTIVE FUNCIONA AL HACER CLICK SOBRE EL H1 */
h1:active{
    background: #999;
    color: #fff;
}

/* SELECCIONANDO EL PRIMER LI */
li:first-child{
    color: #48e;
}

/* SELECCIONANDO EL ULTIMO LI */
li:last-child{
    color: #f00;
}

/* SELECCIONANDO AL SEGUNDO LI */

/* Con nth puedo seleccionar que elemento quiero modificar */
li:nth-child(2){
    color: #0f0;
}

/* MODIFICA UN ELEMENTO SI Y UN ELEMENTO NO */
/*li:nth-child(2n){
    color: #48e;
}*/

/* MODIFICA UN ELEMENTO SI Y DOS ELEMENTOS NO */
li:nth-child(3n){
    color: rgb(9, 137, 56);
}

/* SOLO TIENE EN CUENTA LOS ITEMS DEL MISMO ELEMENTO EN ESTE CASO SOLO LOS LI  */
li:nth-of-type(4){
    color: #f00;
}

/* MODIFICAMOS LOS ELEMENTOS DE LA LISTA QUE NO TENGAN LA CLASE ELEM-4 */
li:not(.elem-4){
    color: rgb(0, 5, 77);
}

/* ESTO DARA EL ESTILO SI EL ELEMENTO ESTA VACIO SINO ESTA VACIO LO DEA NORMAL*/
div:empty {
    background: #0f0;
    padding: 30px;
}

input[type="checkbox"]{
    margin: 50px;
}

/* VERIFICA SI EL CHECKBOX ESTA CHEQUEADO */
input[type="checkbox"]:checked{
    margin: 0;
}

/* ENLACE NO VISITADO */
a:link{
    color: red;
}

/* ENLACE VISITADO */
a:visited{
    color: green;
}

/* SI LA INFORMACION DEL INPUT NO ES VALIDA */
input:invalid{
    color: red;
}

/* SI LA INFORMACION DEL INPUT ES VALIDA */
input:valid{
    color: green;
}

/* MODIFICANDO LOS ELEMENTOS QUE DENTRO DEL SECTION CON ESA CLASE */
section :is(.el1,  .el2, .el3){
    color: darkred;
}

/* HAS APLICA CAMBIOS SI EL ELEMENTO MENCIONADO EXISTE  */
section:has(.el1){
    background: #6f6f6f;
    color: white;
}

/* MODIFICANDO UN UL QUE TIENE DESPUES A UN DIV */
/* ul + div de esta forma modificamos el div */
ul:has(+div){
    background: #929292;
    color: aqua;
}

div{
    padding: 20px;
}

label{
    font-weight: bold;
}

/* SI EL INPUT ES INVALIDO O VALIDO LE DAREMOS COLOR AL LABEL, EL INPUT DEBE ESTAR DENTRO DEL LABEL DE LO CONTRARIO NO FUNCIONA */
label:has(input:valid){
    color: green;
}

label:has(input:invalid){
    color: red;
}