body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div{
    box-sizing: border-box;
}

.box{
    margin: 20px;
    background-color: #fff;
    border: 4px solid #48e;
    padding: 6px;
    border-radius: 39px;
    transition: border .6s steps(6);
}

.barra{
    padding: 40px;
    background-color: #48e;
    border-radius: 30px;
    width: 10%;
    transition: width .6s steps(6), background-color .6s steps(6);
}

.barra:hover{
    width: 100%;
    transition-duration: 3s;
    background-color: #f44;
}

.box:has(.barra:hover){
    border: 4px solid #f44;
    transition-duration: 3s;
}