*{
    box-sizing: border-box;
    margin: 0;
    font-family: sans-serif;
}

:root{
    --color-principal: #48e;
    --alto-del-box: 600px;
}

.box{
    font-size: 30px;
    padding: 0 40px;
    border: 6px solid #000;
    width: 50vw;
    height: 100vh;
    overflow: scroll;
    scroll-behavior: smooth;
    scrollbar-color: #48e #fff;
    scrollbar-width: thin;
}

.crecer{
    height: 200vh;
}

