*{
    margin: 0;
    font-family: sans-serif;
}

.flexbox{
    /* Los elementos se alinean uno al lado del otro y se ajustan */
    display: flex;
    height: 100vh;
    flex-wrap: wrap; /*  Me permite bajar los elementos cuando ya no caben en la pagina, sin encogerlos */

    flex-flow: row wrap; /* Es lo mismo que decirle que va a ser row con wrap */

    /* Tambiewn puedes usar wrap reverse que me hace wrap pero al reves */
}

.flex-item{
    height: 75px;
    width: 150px;
    background-color: #911;
    text-align: center;
    margin: 10px;
    color: #fff;
    font-size: 40px;
}

.flex-item:first-child{
    background-color: #f77;
}

.flex-item:last-child{
    background-color: #000;
}