body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ccc;
}

div ,  body{
    box-sizing: border-box;
}

.flexbox{
    display: flex;
    height: 100px;
    flex-flow:row wrap ;
    border: 2px solid #000;
    margin: 20px;
    justify-content: space-evenly;
    align-content: center;
    background-color: #fff;
}
.flex-item{
    background-color: #800;
    text-align: center;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    width: 100px;
    direction: rtl;
    flex-grow: 1;
    /* flex-shrink: 1; */
    flex-basis: 150px;
}

.flex-item:first-child{
    background-color: #f77;
    flex-grow: 2;
    flex-shrink: 0;
}

.flex-item:last-child{
    background-color: #000;
    /* flex-grow: 4; */
}