body{
    background: #000;
    font-family: sans-serif;
    color: white;
}

.card{
    background: coral;
    text-align: center;
    width: 400px;
    margin: auto;
    margin-top: 20px;
}

h1{
    padding: 10px;
    font-size: 22px;
}

h3{
    font-size: 13px;
    font-weight: 100;
    letter-spacing: 2px;
}

p{
    font-size: 9px;
    padding: 20px;
    text-align: justify;
    background: lightcoral;
}