*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

label, .sidebar-nav{
    user-select: none;
}

body{
    --bg-color: color-mix(in srgb, #f62 70%, #fff);
    --sidebar-color: #fff;
    --darkcolor: #f62;
    --text-color: #444;
    background-color: var(--bg-color);
}

/*=========================  SIDEBAR STYLES  =========================*/

.sidebar{
    background-color: var(--sidebar-color);
    position: fixed;
    height: 100dvh;
    width: clamp(220px, 20vw,300px);
    font-size: clamp(1rem, 2.2vw, 3rem);
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    padding: 30px 0 30px 0;
}

.sidebar-nav{
    flex: 1;
    display: flex;
}

.sidebar-nav ul{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
}

.sidebar-item{
    list-style: none;
    display: flex;
    align-items: center;
    text-transform: uppercase;
    font-size: .9rem;
    padding-right: 6px;
    color: var(--darkcolor);
    border-radius: 36px 0 0 36px;
    position: relative;
}

.sidebar-item span{
    padding: 12px;
    font-size: 2rem;
}

.sidebar-item a{
    color:inherit ;
    text-decoration: none;
}

.sidebar-item:hover{
    background-color: var(--bg-color);
    color: var(--sidebar-color);
}

.sidebar-item::before,
.sidebar-item::after{
    content: '';
    background-color: var(--bg-color);
    position: absolute;
    right: 0;
    width: 18px;
    height: 18px;
    background-color: transparent;
}

.sidebar-item:hover::before{
    top: -18px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0 4px var(--bg-color);
}

.sidebar-item:hover::after{
    bottom: -18px;
    border-top-right-radius: 25px;
    
    box-shadow: 4px -4px 0 4px var(--bg-color);
}

.sidebar-picture{
    margin-left: 1.6rem;
    position: relative;
    z-index: 10;
}

.sidebar-picture img{
    width: clamp(4rem, 75%, 20rem);
    margin: auto;
    opacity: .82;
    filter: hue-rotate(-22deg);
}

.sidebar-profile img{
    width: 2rem;
    border-radius: 50%;
}

.item-profile{
    margin: 12px;
    color: var(--text-color);
    width: fit-content;
}

.item-profile:hover{
    width: fit-content;
    border-radius: 25px ;
    color: var(--sidebar-color);
}

.item-profile .profile-option{
    font-size: .8rem;
    padding: 0 12px 0 9px;
    color: inherit;
}

.item-profile:hover img{
    opacity: .7;
}

.item-profile::before, .item-profile::after{
    display: none;
}

input[type="checkbox"]{
    display: none;
}

.sidebar-form{
    position: absolute;
    z-index: 20;
    right: -1rem;
}

.sidebar-form .open-button{
    display: none;
}

.sidebar label{
    position: relative;
    color: var(--sidebar-color);
    background-color: var(--bg-color);
    font-size: 2rem;
    border-radius: 50%;
    padding: .4rem;
}

.sidebar label::before,
.sidebar label::after{
    content: '';
    background-color: transparent;
    position: absolute;
    width: 10px;
    height: 25px;
}

.sidebar label::before{
    top: -25px;
    left: 19px;
    border-bottom-right-radius: 25px;
    box-shadow: 4px 4px 0px 4px var(--bg-color);
}

.sidebar label::after{
    bottom: -25px;
    left: 19px;
    border-top-right-radius: 25px;
    box-shadow: 4px -4px 0px 4px var(--bg-color);
}

input[type="checkbox"]:checked ~ label{
    color: var(--bg-color);
    background-color: var(--sidebar-color);
}

input[type="checkbox"]:checked ~ label::before,
input[type="checkbox"]:checked ~ label::after{
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar-form label{
    display: none;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar-form .open-button{
    display: block;
}

.sidebar:has(input[type="checkbox"]:checked){
    width: fit-content;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar-form{
    width: fit-content;
    top: 4.8rem;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar-picture img {
    max-width: 3.4rem;
}

.sidebar:has(input[type="checkbox"]:checked) .sidebar-picture{
    margin-left: 5px;
}

.sidebar:has(input[type="checkbox"]:checked) picture{
    margin-left: .75rem ;
    width: fit-content;
}

.sidebar:has(input[type="checkbox"]:checked) :is(.sidebar-item a,.profile-option){
    display: none;
}