*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    --bg-color: #ff9464;
    --card-color:#fff;
    --darkcolor: #f62;
    --text-color: #333;
    background-color: var(--bg-color);
}

.faq{
    max-width: clamp(300px, 70%, 900px);
    margin: auto;
}

details{
    background-color: var(--card-color);
    margin: 7px;
    padding: 7px;
    border-radius: 10px;
    max-height: 34px;
    transition: max-height 2s;
    overflow: hidden;
}

details[open]{
    max-height: 400px;
}

details[open] .content{
    animation: aparecer 1s .3s both;
}

summary{
    user-select: none;
    position: relative;
}

.content {
    padding:5px 10px;
    margin:10px;
    margin-bottom: 0;
    font-size: .8rem;
    color: var(--text-color);
}

summary::marker{
    content: '';    
}

summary::before{
    content: '+';
    color: var(--darkcolor);
    position: absolute;
    right: 0;
    font-weight: 900;
    top: -2px;
}

details[open] summary::before{
    content: '-';
    font-weight: 900;
    right: 2px;
    top: -2px;
}

details b {
    background-color: var(--darkcolor);
    color: #fff;
    padding:2px 4px;
}

details:nth-child(2) b{
    background-color: #48e;
}

details:nth-child(3) b{
    background-color: #4b7;
}

@keyframes aparecer {
    from{
        opacity: 0;
        translate: 0 -20px;
    }

    50%{
        border-top:1px solid transparent ;
    }

    to{
        opacity: 1;
        translate: 0 0;
        border-top: 1px solid var(--bg-color);
    }
}

@media screen and (min-width:600px) {
    .faq{
        max-width: clamp(300px, 70%,700px);
    }
}