body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #999;
}

.grid{
    display: grid;
    height: 80vh;
    grid-template-columns:repeat(auto-fit, minmax(250px,1fr));
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    grid-auto-columns: 1fr;
    margin: auto;
    margin-top: 30px;
    gap: 20px;
}

.grid-item{
    background-color: #48e;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}

@media screen and (max-width: 500px) {
    .grid{
        grid-template-columns: repeat(auto-fill, minmax(100px, 1fr));
    }
}