*{
    margin: 0;
    font-family: sans-serif;
}

div ,  body{
    box-sizing: border-box;
}

.flexbox{
    
    display: flex;
    height: 360px;
    flex-flow:row wrap ;
    border: 2px solid #000;
    margin: 20px;
    justify-content: center;
    align-content: center;
}
.flex-item{
    background-color: #800;
    text-align: center;
    margin: 10px;
    color: #fff;
    font-size: 40px;
    width: 100px;
    direction: rtl;
}

.flex-item:first-child{
    background-color: #f77;
}

.flex-item:last-child{
    background-color: #000;
}