body{
    margin: 0;
    font-family: sans-serif;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: start;
}

body, div{
    box-sizing: border-box;
}

header, nav, main, aside, footer{
    box-sizing: border-box;
    padding: 20px;
    border: 2px solid #444;
}

.grid{
    flex-grow: 1;
    max-width: 1400px;
    display: grid;
    grid-template-columns:repeat(minmax(200px, 1fr) minmax(300px, 3fr) minmax(200px, 1fr));
    grid-template-rows: 1fr;
    grid-auto-flow: dense;
    margin: auto;
    gap: 10px;
    padding: 10px;
    min-height: 100vh;
    grid-template-areas:
    "nav main aside";
}

header{
    background-color: #48e;
    border-color: #48e;
    color: #fff;
    width: 100%;
    padding: 30px;
    text-align: center;
}

nav{
    grid-area: nav;
    max-width: 300px;
}

main{
    grid-area: main;
    min-width: 300px;
}

aside{
    grid-area:aside;
}

footer{
    background-color: #000;
    color: #fff;
    width: 100%;
    padding: 50px;
    text-align: center;
}

nav, aside{
    position: sticky;
    top: 0;
    height: 100vh;
}
