body{
    background: black;
}
div{
    background: red;
    width: 150px;
    margin: auto;
    text-align: center;
}

div{
    border: 3px solid black;
    border-radius: 4px;
}

input{
    margin: 5px;
    padding: 5px 9px;
    border: none;
    border-bottom: 1px solid greenyellow;
    background: transparent;
    color: greenyellow;
    border-radius: 5px;
}