body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #999;
}

.grid{
    display: grid;
    grid-template-columns:repeat(auto-fill, minmax(150px,1fr));
    grid-auto-flow: dense;
    margin: auto;
    gap: 10px;
    padding: 10px;
    min-height: 100vh;
}

.grid-item{
    background-color: #48e;
    width: 100%;
    font-size: 30px;
    border-radius: 16px;
    color: azure;
    text-align: center;
}

.grid-item:nth-child(10){
    grid-column: span 2;
}

.grid-item:hover{
    opacity: 0.75;
}