*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    --bg-color: #ff9464;
    --card-color:#fff;
    --darkcolor: #f62;
    background-image: url("img/fondo.gif");
    background-position: center;
    background-size: cover;
}

header{
    min-height: 200dvh;
    display: flex;
    justify-content: center;
    mix-blend-mode: difference;
}

.text-container{
    min-height: 100vh;
    position: fixed;
    top: 0;
    display: flex;
    font-size: clamp(1rem, 9vw, 12rem );
    color: #999;
    font-weight: 600;
    justify-content: space-between;
    width: 100%;
    align-items: center;
    padding: 3vw;
    animation: aparecer-texto both;
    animation-timeline: scroll();
}

.left-text{
    color:#48e;
    padding-left: 4vw;
    filter: drop-shadow(0px 0px 1px #48e) drop-shadow(0px 0px 9px #48e);
}

.right-text{
    font-weight: 900;
}

img{
    mix-blend-mode: screen;
    filter: grayscale();
    position: fixed;
    mix-blend-mode: darken;
    top: 0;
    max-width: 100dvw;
    animation: aparecer both;
    animation-timeline: scroll();
}

@keyframes aparecer {
    0%{
        opacity: 0;
        filter: grayscale();
        translate: 0 -20%;
        scale: .7;
    }

    100%{
        opacity: 1;
        filter: grayscale();
        translate: 0 0;
        scale: 1;
    }
}

@keyframes aparecer-texto {
    0%{
        opacity: 0;
        translate: 0 20%;
        scale: 2;
    }

    100%{
        opacity: 1;
        translate: 0 0;
        scale: 1;
    }
}

@media screen and (max-width: 900px) {
    .text-container{
        justify-content: space-evenly;
    }
}