*{
    box-sizing: border-box;
}

body{
    font-family: sans-serif;
    margin: 0;
    width: 100%;
    overflow: hidden;
}

.box{
    font-size: 30px;
    width: fit-content;
    padding: 320px;
    background-color: color-mix(in srgb, #48e 60%, #000 50%);
}
