body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
}

.box{
    background-color: #ccc;
    margin:20px auto;
    padding: 20px 50px;
}

.drop{
    filter: drop-shadow(0px 0px 15px #000);
}

.blur{
    filter: blur(5px);
}

.brightness{
    filter: brightness(3);
}

.contrast{
    filter: contrast(5);
}

.saturate{
    filter: saturate(.5);
}

.rotate{
    filter: hue-rotate(34deg);
}

