body{
    margin: 0;
    font-family: sans-serif;
}

.overlay{
    background: linear-gradient(to top, #fff,transparent);
    position: absolute;
    z-index: 20;
    width: 100%;
    bottom: 0;
    height: 100%;
}

.contenedor{
    padding: 150px;
    background: #00f;
    position: relative;
}

h2{
    font-size: 18px;
    margin: 0;
}
p{
    font-size: 14px;
    margin: 0;
}

.box{
    height: 60px;
    width: 200px;
    background: #fff;
    /* Eliimina el especio reservado para el elemento y siempre se va a posicionar respecto  a la ventana*/
    position: fixed;
    right: 0;
    border: 1px solid black;
    border-right:0 ;
    box-shadow: 0 0 40px #0009 ;
    z-index: 30;
}