body{
    margin: 0;
    font-family: sans-serif;
}

body, div{
    box-sizing: border-box;
}


.grid{
    display: grid;
    grid-template-columns:repeat(1, 1fr);
    grid-template-rows: repeat(3,50px);
    gap: 10px;
    padding: 10px;
    justify-items: stretch;
    justify-content: space-evenly;
    align-items: stretch;
    align-content:space-evenly ;
    height: 350px;
    border: 2px solid black;
    margin: 20px;
}

.grid-item:first-child{
    background: #e66;
}

.grid-item{
    background-color: #48e;
    font-size: 30px;
    border-radius: 16px;
    max-width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-item:hover{
    opacity: 0.74;
}