<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Flex</title>
</head>
<body>
    <header class="header">
        <div class="header__overlay">

        </div>
        <div class="header__item-container">
            <img class="header__img" src="img/20260130_092442.JPG" alt="">
            <h1>Layout Flexbox</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore pariatur unde totam id iure quis quo Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nostrum doloribus possimus sint, alias obcaecati explicabo libero voluptas velit soluta, voluptate dolore, eius beatae. Vel a provident cupiditate sed voluptates.</p>
        </div>
    </header>
    <nav class="nav">
        <div>
            <ul class="nav__ul">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link link--login">Log In</a></li>
            </ul>
        </div>
        <div>
            <img class="nav__logo" src="img/logo.png" alt="">
        </div>
    </nav>
    <main>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, molestias doloremque! Eos eveniet impedit odit eligendi, deleniti molestiae odio fugiat quibusdam libero magnam maxime quasi ab vel earum incidunt nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident optio dolorem quae quasi perspiciatis iste debitis facilis odio sequi, neque quia itaque hic, culpa voluptatem, molestias laudantium necessitatibus consequuntur totam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto harum, quaerat, odit rerum tempore praesentium voluptatum consequatur, perferendis dolore officiis quisquam cumque? Sequi nihil, ab numquam vitae dolores ipsa ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maxime ipsa repudiandae in atque blanditiis quibusdam omnis incidunt maiores, modi nemo. Quos dolor molestiae enim debitis? Sunt molestiae rem eligendi?
        Nemo quia perferendis nostrum iusto nam expedita ipsum, illum nobis! Omnis nostrum debitis dolorum odio eaque, quae vel numquam possimus quia pariatur laborum facilis quos, doloribus tempora tempore consequuntur repellat?
        Ullam enim commodi itaque ipsum magni tempora, architecto quae incidunt tenetur explicabo perferendis totam soluta exercitationem, ipsam at magnam quam qui iste dolorum expedita illo culpa atque? Totam, laboriosam consectetur.
        In explicabo suscipit quasi! Placeat nemo dolore laboriosam dolor aliquid odio tempora vitae alias reprehenderit fugit. Provident, molestiae. Nemo maxime laborum officia itaque tempora maiores, beatae aliquam fugiat suscipit necessitatibus?
        Unde aspernatur voluptatem nulla modi magnam culpa accusamus explicabo velit, numquam quibusdam, ullam ex ratione. Voluptate mollitia animi ut, corrupti voluptatum ullam dolorem? Nihil rerum nobis, exercitationem eveniet error libero.
        Dolorum incidunt impedit ipsum nam numquam distinctio tempora necessitatibus, porro beatae. Voluptates eveniet aspernatur molestiae, animi reprehenderit maiores mollitia dolore praesentium inventore nisi architecto soluta deserunt quisquam officiis! Ipsa, adipisci?
        Animi, dignissimos fugit nihil, nulla eaque nemo corporis deleniti recusandae ipsum tempora sapiente est. Quam earum sunt error ullam aut blanditiis, corrupti fuga reiciendis molestiae officiis consectetur excepturi non tempora?
        Voluptatum doloribus nobis exercitationem impedit commodi temporibus ad maxime voluptates molestiae officia obcaecati aliquid rem non quis officiis, amet facilis iste porro, vero numquam adipisci nihil quibusdam? Obcaecati, vel placeat!
        Sint at facere nulla quod aspernatur iste aliquam consequatur voluptas, provident ut minima rerum et ratione expedita ad dignissimos sequi sed fugiat ipsam porro labore accusantium excepturi officiis nihil. Sed.
        Et pariatur illum ipsam commodi nesciunt distinctio cumque maiores dignissimos, consectetur beatae suscipit necessitatibus ratione facilis modi, repellat blanditiis a similique aliquid velit voluptatem quisquam alias odit vel ullam. Neque.
    </main>
</body>
</html>