<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <link rel="stylesheet" href="style.css">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Layout Flex</title>
</head>
<body>
    <header class="header">
        <div class="header__overlay">

        </div>
        <div class="header__item-container">
            <img class="header__img" src="img/20260130_092442.JPG" alt="">
            <h1>Layout Flexbox</h1>
            <p>Lorem ipsum dolor sit amet consectetur adipisicing elit. Dolore pariatur unde totam id iure quis quo Lorem ipsum dolor sit, amet consectetur adipisicing elit. Perferendis nostrum doloribus possimus sint, alias obcaecati explicabo libero voluptas velit soluta, voluptate dolore, eius beatae. Vel a provident cupiditate sed voluptates.</p>
        </div>
    </header>
    <nav class="nav">
        <div class="nav__ul-container">
            <ul class="nav__ul">
                <li class="nav__item"><a href="#" class="nav__link">Home</a></li>
                <li class="nav__item"><a href="#" class="nav__link">About us</a></li>
                <li class="nav__item"><a href="#" class="nav__link">Contact</a></li>
                <li class="nav__item"><a href="#" class="nav__link link--login">Log In</a></li>
            </ul>
        </div>
        <div class="nav__logo-container">
            <img class="nav__logo" src="img/logo.png" alt="">
        </div>
    </nav>
    <main>
        Lorem ipsum dolor sit amet consectetur adipisicing elit. Quaerat, molestias doloremque! Eos eveniet impedit odit eligendi, deleniti molestiae odio fugiat quibusdam libero magnam maxime quasi ab vel earum incidunt nisi. Lorem ipsum dolor sit amet consectetur adipisicing elit. Provident optio dolorem quae quasi perspiciatis iste debitis facilis odio sequi, neque quia itaque hic, culpa voluptatem, molestias laudantium necessitatibus consequuntur totam? Lorem ipsum dolor sit amet consectetur, adipisicing elit. Architecto harum, quaerat, odit rerum tempore praesentium voluptatum consequatur, perferendis dolore officiis quisquam cumque? Sequi nihil, ab numquam vitae dolores ipsa ipsam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Sed maxime ipsa repudiandae in atque blanditiis quibusdam omnis incidunt maiores, modi nemo. Quos dolor molestiae enim debitis? Sunt molestiae rem eligendi?
        Nemo quia perferendis nostrum iusto nam expedita ipsum, illum nobis! Omnis nostrum debitis dolorum odio eaque, quae vel numquam possimus quia pariatur laborum facilis quos, doloribus tempora tempore consequuntur repellat?
        Ullam enim commodi itaque ipsum magni tempora, architecto quae incidunt tenetur explicabo perferendis totam soluta exercitationem, ipsam at magnam quam qui iste dolorum expedita illo culpa atque? Totam, laboriosam consectetur.
        In explicabo suscipit quasi! Placeat nemo dolore laboriosam dolor aliquid odio tempora vitae alias reprehenderit fugit. Provident, molestiae. Nemo maxime laborum officia itaque tempora maiores, beatae aliquam fugiat suscipit necessitatibus?
        Unde aspernatur voluptatem nulla modi magnam culpa accusamus explicabo velit, numquam quibusdam, ullam ex ratione. Voluptate mollitia animi ut, corrupti voluptatum ullam dolorem? Nihil rerum nobis, exercitationem eveniet error libero.
        Dolorum incidunt impedit ipsum nam numquam distinctio tempora necessitatibus, porro beatae. Voluptates eveniet aspernatur molestiae, animi reprehenderit maiores mollitia dolore praesentium inventore nisi architecto soluta deserunt quisquam officiis! Ipsa, adipisci?
        Animi, dignissimos fugit nihil, nulla eaque nemo corporis deleniti recusandae ipsum tempora sapiente est. Quam earum sunt error ullam aut blanditiis, corrupti fuga reiciendis molestiae officiis consectetur excepturi non tempora?
        Voluptatum doloribus nobis exercitationem impedit commodi temporibus ad maxime voluptates molestiae officia obcaecati aliquid rem non quis officiis, amet facilis iste porro, vero numquam adipisci nihil quibusdam? Obcaecati, vel placeat!
        Sint at facere nulla quod aspernatur iste aliquam consequatur voluptas, provident ut minima rerum et ratione expedita ad dignissimos sequi sed fugiat ipsam porro labore accusantium excepturi officiis nihil. Sed.
        Et pariatur illum ipsam commodi nesciunt distinctio cumque maiores dignissimos, consectetur beatae suscipit necessitatibus ratione facilis modi, repellat blanditiis a similique aliquid velit voluptatem quisquam alias odit vel ullam. Neque. Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aspernatur ipsa id vero, officia placeat ducimus aperiam perspiciatis sed, libero quis, nemo cumque eum quidem error magni autem atque quibusdam temporibus.
        Quos aliquid cumque possimus ullam corporis, natus sint esse animi omnis perspiciatis maxime ab laborum voluptates id cupiditate sequi perferendis placeat incidunt vitae eum iure vero aperiam voluptatum. Eius, voluptate!
        Distinctio possimus libero fugiat ullam assumenda, eligendi corporis nihil amet aspernatur cum, dolore temporibus, facere nostrum alias molestiae? Quo dolor blanditiis consequatur placeat minima magni iure quas quibusdam eum nulla!
        Error aliquid beatae doloremque expedita aut deleniti optio officiis qui sit laudantium nisi numquam mollitia, minima natus hic exercitationem quo tempora corrupti possimus fugiat debitis suscipit illum obcaecati ullam? Ea!
        Necessitatibus recusandae ipsum explicabo doloribus, iste ab, porro in laboriosam molestias tempore alias optio rem, magni soluta suscipit? Rerum voluptatum veniam ex blanditiis magni consequuntur neque recusandae quae quod amet!
        Quos asperiores laudantium voluptates numquam debitis, quasi qui maiores, ipsa, ad assumenda sunt nulla illo tempore placeat nihil laboriosam tenetur inventore voluptatem aperiam ullam maxime cum mollitia repellendus dolore. Omnis.
        Magnam ea nisi quod laborum vel quia iure obcaecati! Accusamus quam ipsa odit facere dolorem quisquam, ex quas necessitatibus, voluptates at ullam et sint. Iusto excepturi labore impedit quasi aliquid?
        Rem consequuntur, labore eos illum ad porro sit magni animi perspiciatis hic, explicabo excepturi nisi placeat quos facilis debitis maxime nihil cupiditate impedit sint. Doloribus consequatur dicta dolorum mollitia repellat.
        Eum exercitationem delectus asperiores placeat obcaecati soluta minima saepe labore ab, aliquid a, dolorem commodi maxime itaque sequi magni facere accusantium magnam minus voluptate. Ipsa nesciunt non odit tempore harum.
        Labore neque reprehenderit maiores ad cum aut incidunt ut explicabo commodi omnis vero iste tenetur nulla, recusandae facere sint. Dolorum soluta placeat quibusdam deleniti hic voluptate. Repudiandae asperiores accusamus esse?
        Asperiores esse sunt repellat vitae quae atque rem? Dolorem eligendi repellat cum in tempora sed asperiores autem mollitia vero fugiat officia, id nesciunt dignissimos. Quod, culpa? Hic adipisci odio similique.
        Harum, dolor saepe aliquid amet exercitationem sit commodi provident enim. Natus temporibus quisquam sed maxime repellat officia a officiis nisi eveniet, quae tempore provident obcaecati aut expedita. Vitae, delectus repellendus.
        Molestias architecto praesentium quibusdam aliquid, itaque placeat, recusandae doloremque labore est debitis temporibus vero, voluptatibus exercitationem? Quidem ratione unde reprehenderit illum voluptatum asperiores at ipsum vero, sed ipsa atque accusamus.
        Beatae architecto aspernatur asperiores consequuntur iusto rem voluptatem officia aut earum deleniti exercitationem quisquam repudiandae laboriosam cum veniam eveniet commodi, ut, porro maiores nulla et? Ullam atque accusamus officiis soluta.
        Libero quas eaque voluptatem, laudantium nobis voluptatum quisquam consequuntur molestiae doloribus, ipsam magni. Error distinctio dolorem eius explicabo vero quam id ipsum facere eaque temporibus, aut laboriosam eligendi aperiam beatae.
        Dolorum praesentium, obcaecati similique iure consequatur officiis ad. Cupiditate aut sequi dicta. Perspiciatis suscipit sequi, a sit, eaque quasi quod quo ut excepturi fugit deserunt nisi vel repudiandae animi aut!
        A possimus asperiores incidunt veniam fugiat maxime atque natus beatae minima. Eius qui aperiam deserunt facilis magni suscipit? Itaque deserunt consequuntur nesciunt deleniti rem iure unde sapiente dolorem! Voluptate, dolore!
        Necessitatibus iure delectus officiis quo asperiores consequuntur sunt sequi mollitia, dolore tenetur minus, exercitationem quam cum eaque deleniti animi odio vel aperiam maxime cumque a sint, ea debitis ut! Assumenda!
        Assumenda provident distinctio ipsam vitae quibusdam delectus est sapiente veritatis, deserunt error eaque quas alias voluptatum incidunt tenetur, illum veniam perferendis iusto maiores ea facere libero. Quod, commodi! Accusantium, dolore?
        Temporibus veritatis officia sit quam, quos exercitationem minima magni porro commodi eius ab illo unde. Impedit, odio distinctio! Animi accusantium, eaque officiis optio repellendus voluptatibus aliquam unde omnis facere quasi.
    </main>
</body>
</html>