*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    background-color: #ff8000;
}

/* HEADER SECTION */

.header{
    height: 100vh;
    box-sizing: border-box;
    background-image:url("img/img.jpg") ;
    display: flex;
    background-repeat: no-repeat;
    background-size: cover;
}

.header__overlay{
    height: 100vh;
    width: 100%;
    background-color: #f809;
    position: absolute;
    z-index: 1;
}

.header__item-container{
    position: relative;
    z-index: 10;
    margin: auto;
    text-align: center;
    max-width: 900px;
}

.header__item-container p{
    text-wrap: pretty;
}

.header__img{
    min-width: 250px;
    max-width: 40%;
    border-radius: 50%;
    border: 6px solid #fff;
    margin: 20px;
}

h1{
    margin: 0;
    font-size:3.6rem;
    text-wrap: balance;
}

/* NAV SECTION */
.nav{
    background: white;
    display: flex;
    justify-content: space-evenly;
    padding-right: 40px;
}

.nav__ul{
margin: 0;
display: flex;
}

.nav__item{
    list-style: none;
}

.nav__link{
    color: #f80;
    text-decoration: none;
    display: inline-block;
    padding: 10px;
    margin: 6px;
}

.nav__logo{
    width: 100px;
    padding: 10px;
}