*{
    box-sizing: border-box;
}

body{
    margin: 0;
    font-family: sans-serif;
    padding: 20px;
}

.box{
    background-color: #48e;
    display: grid;
    place-content: center;
    color: #fff;
    margin: 120px auto;
    font-size: 30px;
    padding: 0 40px;
}

h1{
    font-size: 2.2em;
    margin-bottom: 0;
}

.min{
    width: min(600px,100%);
}

.max{
    width: max(600px, 100%);
}

.clamp{
    font-size: clamp(2rem, 2vw,4rem);
    border: 6px solid #000;
}