body{
    margin: 0;
    font-family: sans-serif;
    box-sizing: border-box;
    background-color: #999;
}

.grid{
    display: grid;
    height: 80vh;
    grid-template-columns:repeat(3, 1fr);
    grid-template-rows: repeat(3, 200px);
    grid-auto-rows: 100px;
    grid-auto-rows: 150px;
    grid-auto-flow: row;
    grid-auto-columns: 100px;
    border: 3px solid #000;
    background-color: #fff;
    gap: 20px;
    padding: 20px;
    width: 90vw;
    margin: auto;
    margin-top: 30px;
}

.grid-item{
    background-color: #48e;
    margin: 10px;
    padding: 10px;
    font-size: 30px;
    color: #fff;
}