/* EN CSS ES MAS ESPECIFICO (PRIMORDIAL) EL ID, LUEGO LA CLASE Y POR ULTIMO EL TAG O LA ETIQUETA */
#titulo{
    color: aqua;
}

.titulo{
    color: blueviolet;
}

/* IMPORTANT ES EL ATRIBUTO QUE PRIMA SOBRE CUALQUIER ELEMENTO CLASE O ID */

h1{
    color: brown !important;
}