body {
    margin: 0;
    font-family: sans-serif;
    color: #eee;
    min-height: 100vh;
    background: linear-gradient(to bottom, #333, #000);
}

form {
    background: transparent;
    padding: 10px 20px;
    max-width: 500px;
    margin: 0 auto;
    box-shadow: 0 0 55px #fff2;
    margin-top: 50px;
    border-radius: 8px;
    margin-bottom: 40px;
}

input {
    width: 100%;
    box-sizing: border-box;
    padding: 8px 6px;
    border: none;
    border: 1px solid #666;
    box-shadow: 0 0 15px #0003;
    background: transparent;
    border-radius: 4px;
    color: #DDD;
    margin: 6px 0;
}

fieldset {
    margin: 20px 0;
    border: 1px solid #ddd6;
    border-radius: 5px;
}

legend {
    padding: 0 6px;
}