*{
    box-sizing: border-box;
    font-family: sans-serif;
    margin: 0;
    padding: 0;
}

body{
    --bg-color: color-mix(in srgb, #f62 70%, #fff);
    --cb-color:#fff;
    --darkcolor: #f62;
    background-color: var(--bg-color);
}

.chat{
    max-width: clamp(300px, 70%, 900pc);
    background-color: var(--cb-color);
    margin: 50px auto;
    border-radius: 20px;
    box-shadow: 2px 2px 6px #0003;
}

.chat-user{
    display: flex;
    align-items: center;
    border-bottom: 1px solid  var(--darkcolor);
}

.chat-user img{
    max-width: 2.3rem;
    border-radius: 50%;
    margin: 6px;
}

.chat-user span{
    margin-left: 5px;
    font-size: .9rem;
}

.chat-content{
    padding: 12px;
    display: flex;
    flex-direction: column;
}

.msg{
    background-color: var(--bg-color);
    color: #fff;
    font-size: .6rem;
    padding: 7px;
    border-radius: 9px 9px 9px 0;
    position: relative;
    z-index: 10;
    max-width: clamp(300px, 70%, 600px);
    margin: 6px;
    width: fit-content;
}

.msg::before{
    content: '';
    position: absolute;
    height: 18px;
    width: 18px;
    background-color: var(--bg-color);
    bottom: -3px;
    left: -4px;
    clip-path: polygon(43% 0, 0 100%, 100% 68%);
    z-index: -1;
}

.self{
    background-color: var(--darkcolor);
    margin-left: auto;
    border-radius: 9px 9px 0px 9px;
}

.self::before{
    background-color: var(--darkcolor);
    clip-path: polygon(57% 0, 100% 100%, 0% 68%);
    bottom: -3px;
    left: auto;
    right: -4px;
}