div{
    background: #ededed;
    padding: 20px;
    font-family: sans-serif;
    border-left: 2px solid #999;
    height: 50vh;
    margin-top: 10vh;
}

h1{
    margin: 0;
    font-size: 23px;
}

span{
    color: #999;
    font-size: 16px;
    font-weight: 100;
    font-size: 1em;
}

p{
    color: #555;
    font-size: 1em;
    line-height: 1ch;
}

/* em y rem depender del font size del padre */
/* 1em = 16px (por defecto) */
/* 1rem = 16px (por defecto)  dependiendo lo que quieras hacer revisa en que caso usas cada uno*/