body{
    margin: 0;
    font-family: sans-serif;
    height: 100vh;
    display: flex;
    flex-direction: column;
    background-color: #48e;
}

.box{
    margin: auto;
    padding: 80px;
    border: 4px solid #000;
    width: fit-content;
}

.box-inside{
    padding: 20px 40px;
    background-color: #ccc;
    margin-top: 50px;
}

.skew{
    transform: skew(20deg);
    transition: transform 1s;
}

.skew:hover{
    transform: skew(40deg);
}

.scale{
    transform: scale(1);
    transition: transform 1s;
}

.scale:hover{
    transform: scale(2);
}

.rotate{
    rotate:0deg;
    transition: rotate 3s;
}

.rotate:hover{
    rotate: 360deg;
}

.translate{
    transform: translate(0, 0) ;
    transition: transform 1s;
}

.translate:hover{
    transform: translate(50px, 50px);
}
